:root {
    --default-color-card: #141414;
}

.dialog-bubble-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.dialog-bubble{
    background: var(--default-color-card);
    width: auto;
    height: auto;
    max-width: 30rem;
}

.bubble-content {
    width: 100%;
    height: 100%;
}

.bubble-l{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-right: 3rem;
}

.bubble-r{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 3rem;

}

.open-fullscreen{
    border-radius: 8px
}

#fullscreen-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#fullscreen-container.hidden {
    display: none;
}

#fullscreen-image {
    max-width: 95%;
    max-height: 95%;
}

#close-fullscreen {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#close-fullscreen:hover {
    transform: scale(1.2);
}

.no-scroll {
    overflow: hidden;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.blank{
    height: 5rem;
}