:root {
    --default-color-card: #141414;
}

.competence-container {
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.competence{
    background: var(--default-color-card);
    width: auto;
    height: 6.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer ;
    max-width: 30rem;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.gradient-select{
    width: 0rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
}

.color-select{
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;
}

.title-card{
    width: 100%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    margin: 0;
}

.ontop{
    z-index: 10;
}

.button-selection{
    text-decoration: none;
    border-radius: 28px;
    width: 3rem;
    height: 3rem;
    background-color: #EEEEEE;
    color: #DF6C4F;
    font-size: 1.5rem;
}