:root {
  --main-bg-color: #222222;
  --main-text-color: #eeeeee;
  --orange: #df6c4f;
  --default-color-card: #141414;
  --dark-color: #222222;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--main-bg-color);
  scroll-behavior: smooth;
}

.chromatic-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  opacity: 0.1;
  pointer-events: none;
  background-size: 100% 4px;
  background: linear-gradient(to bottom, #000, #000 50%, #222 50%, #222);
  background-size: 100% 4px;
  animation: gradientMove 200ms ease infinite;
}

.shadow-block {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-shadow-custom {
  text-shadow: 0px 1px 1px rgb(0 0 0 / 0.1), 0px 1px 2px rgb(0 0 0 / 0.1),
    0px 2px 4px rgb(0 0 0 / 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

p,
a,
.btn,
.btn-fermer {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/** TILES **/

.chromatic-aberration {
  z-index: 5;
  background: linear-gradient(to bottom, #000, #000 50%, #222 50%, #222);
  background-size: 100% 4px;
  animation: gradientMove 200ms ease infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: screen;
  opacity: 0.8;
  pointer-events: none;
}

@keyframes gradientMove {
  0% {
    background-size: 100% 4px;
  }
  50% {
    background-size: 100% 2px;
  }
  100% {
    background-size: 100% 4px;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.9;
    transform: skewX(0.5deg);
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  75% {
    opacity: 1;
    transform: skewX(0.5deg);
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes chromaticMove {
  0% {
    text-shadow: 3px 2px 2px rgba(255, 0, 0, 1),
      0px -1px 3px rgba(0, 0, 255, 0.5), 0px 0px -2px rgba(0, 255, 0, 1);
  }
  50% {
    text-shadow: 3px 2px 2px rgba(255, 0, 0, 1),
      0px -1px 3px rgba(0, 0, 255, 0.5), -3px 2px 3px rgba(0, 255, 0, 1);
  }
  100% {
    text-shadow: 3px 2px 2px rgba(255, 0, 0, 1),
      0px -1px 3px rgba(0, 0, 255, 0.5), 2px -1px 2px rgba(0, 255, 0, 1);
  }
}

.board {
  width: 100vw;
  height: 100vh;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  perspective: 1000px;
  background-color: var(--dark-color);
  position: relative;
  z-index: 1;
  mask-image: linear-gradient(#222222 75%, transparent);
}

.row-tile {
  flex: 1;
  display: flex;
  gap: 0.25em;
}

.tile {
  flex: 1;
  position: relative;
  transform-style: preserve-3d;
}

.tile-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

.tile-front {
  background-color: darkslategray;
  box-shadow: -1px 1px 1px rgba(255, 0, 0, 0.34),
    1px 1px 1px rgba(0, 255, 0, 0.46), -1px -1px 1px rgba(0, 0, 255, 0.44);
}

.tile-back {
  background-color: darkslateblue;
  transform: rotateX(180deg);
  box-shadow: -1px 1px 1px rgba(255, 0, 0, 0.34),
    1px 1px 1px rgba(0, 255, 0, 0.46), -1px -1px 1px rgba(0, 0, 255, 0.44);
}

.tile-front::before,
.tile-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 600% 600%;
  background-position: inherit;
  clip-path: inset(0 round 0.25em);
}

.tile-front::before {
  background-image: url("../images/front-tile.webp");
}

.tile-back::before {
  background-image: url("../images/back-tile.webp");
}

@media (max-width: 576px) {
  .tile-front::before {
    background-image: url("../images/front-mobile-tile.webp");
  }

  .tile-back::before {
    background-image: url("../images/back-mobile-tile.webp");
  }
}

.blocks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

#blocks {
  width: 105vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.block {
  width: 50px;
  height: 50px;
  border: 0.5px solid transparent;
  transition: border-color 0.3s ease;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
